/* Variables */
:root {
    --primary-color: #1f1f1f;
    --buttons: #2d79f3;
    --text-color: white;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.formacceso {
    box-sizing: border-box;
    width: 30vw;
    height: 80vh;
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 10%;
    overflow: hidden;
    padding: 20px;
    box-shadow: 2px 10px 20px 15px rgba(0, 0, 0, 0.5);

}

label,
input {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}

label {
    color: var(--text-color);
}

input {
    border-radius: 10px;
    margin: 10px;
}

.formacceso .boxes {
    width: 100%;
    padding: 0;
    /*Definimos una altura*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1%;
}

.boxes .box {
    width: 100%;
}

.boxes .box .show-input {
    width: 100%;
}

.boxes input[type="email"], .boxes input[type="password"]{
    width: 90%;
    margin: 5px;
}
.Forgot {
    align-self: flex-start;
    padding: 5%;
}
a{
    color:blue;
    text-decoration: none;
    cursor: pointer;
}
.btn{
    width: 100%;
    height: 10%;
    padding: 5px;
}
.btn .btn1{
    width: 95%;
    height: 100%;
    border: none;
    margin: 0;
    background-color: var(--buttons);
}