/* Variables */
:root {
    --main-color: burlywood;
    --secondary-color: saddlebrown;
    --text-color: black;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.head {
    text-align: center;
    height: 15vh;
    background-color: var(--main-color);
    padding: 1px;
}

/*Styles de la parte del navegador*/
.search-book {
    height: 10vh;
    border: 1px solid red;

    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Imagen de la parte del buscador*/
.search-book img {
    width: 4%;
    height: 100%;
}

/*------------------------------------------------------------------------------------------*/
/*Aca tenemos lo que es la parte de busqueda de los libros*/
/* From Uiverse.io by Smit-Prajapati */

.search-container {
    position: relative;
    width: 85%;
    height: 80%;
    border-radius: 50px;
    background: burlywood;
    /*Hacemos un display:flex; por la imagen*/
    display: flex;
}

/*Solo si el input tiene el foco jaja*/
.search-container:has(.input:focus) {
    box-shadow: var(--secondary-color) 3px 3px 5px 0px, var(--secondary-color) 5px 5px 30px 0px;
    transition: box-shadow 0.3s ease-in-out;
}

.input {
    padding: 10px;
    width: 100%;
    background: var(--main-color);
    border: none;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50px;
    outline: none;
}

.search__icon {
    width: 50px;
    aspect-ratio: 1;
    border-left: 2px solid white;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    padding-left: 12px;
    margin-right: 10px;
}


.search__icon path {
    fill: white;
}

/*-------------------------------------------------------------------------------------------*/
div.sign-in-system {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.sign-in-system a {
    text-decoration: none;
    color: #000;
}

.container {
    height: 100%;
    border: 1px solid blueviolet;
    display: flex;
}

.menu {
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    border: 1px solid green;
}

.menulist {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-size: 20px;
    border: 2px solid red;
    text-align: center;
}

.menulist li {
    padding: 10px;
    text-align: center;
    display: none;
}

/*Aca se va a ver todo lo relacionado con el catalogo*/
.catalog {
    border: 1px solid yellow;
    width: 90%;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.show {
    box-sizing: border-box;
    width: 40%;
    height: 40%;
    background-color: burlywood;
    color: black;
    margin: 40px;

}

.foot {
    margin-block-start: 10px;
    height: 15vh;
    background-color: burlywood;
}